/* -------------------------------- */
/* ---------- CSS Reset ----------- */
/* -------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Add your styles below */

body {
  font-family: Arial, sans-serif;
  background-color: black;

  p {
    color: #f5f5f5;
  }
}

.box {
  border-color: #f5f5f5
}